<!-- include header -->
<%- include ('include/sidebar') %>
  <!-- /include header -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-color py-5">

    <section class="content">

        <div class="py-2 container"
            style="background-color:#fff; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <h6 class="font-weight-bold pt-2 pl-2">Course Details</h6>
        </div>

        <form action="/api/courses" method="POST">
            <div class="mt-1 py-4 container" style="background-color:#fff;">
                <div class="row">
                    <div class="col-lg-6 pl-5 pr-5 mt-3 mb-3">
                        <div class="form-group">
                            <label for="inputsm">Title</label>
                            <input class="form-control input-sm" type="text" name="title" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-5 pr-5 mt-3 mb-3">
                        <div class="form-group">
                            <label for="inputsm">Price</label>
                            <input class="form-control input-sm" type="number" name="price" placeholder="Price">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-5 pr-5 mt-3 mb-3">
                        <div class="form-group">
                            <div class="row justify-content-between ml-1 mr-1">
                                <label for="inputsm">Discount</label>
                                <!-- <span>After Discount <label for="inputsm">$750</label></span> -->
                            </div>
                            <input class="form-control input-sm" id="inputsm" type="number" name="discount"
                                placeholder="10%">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-5 pr-5 mt-3 mb-3">
                        <div class="form-group">
                            <label for="inputsm">Credit Hours</label>
                            <input class="form-control input-sm" type="number" name="crhrs" placeholder="3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 pl-5 pr-5 mt-3 mb-3">
                        <div class="form-group">
                            <label for="inputsm">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
        
            <div class="mt-1 py-2 container" style="background-color:#fff;">
                <h6 class="font-weight-bold pt-2 pl-2">Audio Files</h6>
            </div>
            <div class="mt-1 py-4 container" style="background-color:#fff;">
                <div class="row">
                    <div class="col-lg-6 pl-5 pr-5 mt-3 mb-3">
                        <div class="form-group">
                            <label for="inputsm">Select Audio File</label>
                            <select class="form-control" aria-label="Default select example" name="audio">
                                <option selected>Select</option>
                                <% audios.forEach(function(audio) { %>
                                <option value="<%= audio.audio %>"><%= audio.title %></option>
                                <%  }) %>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-5 pr-5 mt-3 mb-3">
                        <div class="form-group">
                            <label for="inputsm">Select Booklet</label>
                            <select class="form-control" aria-label="Default select example" name="booklet">
                                <option selected>Select</option>
                                <% booklets.forEach(function(booklet) { %>
                                <option value="<%= booklet.pdf %>"><%= booklet.title %></option>
                                <%  }) %>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-5 pr-5 mt-3 mb-3">
                        <button type="submit" class="btn" style="border-radius: 5px;width: 12rem; background-color: #3CB179; color: white;" name="add">Add Now</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- Upload Videos -->
        <div class="mt-1 py-2 container" style="background-color:#fff;">
            <h6 class="font-weight-bold pt-2 pl-2">Upload Videos</h6>
        </div>

        <div class="mt-1 py-4 container"
            style="background-color:#fff;">
            <form action="/api/course-video" method="POST" enctype="multipart/form-data">
                <div class="mt-2 container">
                    <div class="row d-flex justify-content-between">
                        <h6 class="mt-3 mb-2 ml-2 font-weight-bold text-info">Module 1</h6>
                    </div>
                  </div>
                <div class="row ml-2 mt-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="inputsm">Title</label>
                            <input class="form-control input-sm" type="text" name="moduleTitle" placeholder="Module Title">
                            <input type="hidden" name="courseID" value="<%= courseID %>">
                        </div>
                    </div>
                </div>
                <div class="row ml-2 mt-4">
                    <div class="col-lg-12">
                        <label for="inputsm">Add Videos</label>
                    </div>
                    <div class="col-md-3 pl-3 pt-3 mt-2">
                        <img src="images/Rectangle 27.png" class="img-fluid"  alt="course-img">
                        <div style="position: absolute;
                        top: 25px;
                        bottom: 0;
                        left: 160px;
                        right: 0;">
                        <i class="fas fa-trash text-info"></i>
                        </div>
                        <label class="mt-3" for="inputsm">Course Intro</label>
                    </div>
                    <div class="col-md-3 pl-3 pt-3 mt-2 inner-addon left-addon">
                        <i class="errspan fa fa-cloud-arrow-up"></i>
                        <input class="form-control input-sm text-center selectVideo" accept="video/*" style="height:77%; width: 80%;" type="file" name="video" placeholder="Upload Video">
                        <input class="form-control input-sm mt-1" style="width: 80%;" type="text" name="videoTitle" placeholder="Video Title">
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-md"
                    style="background-color: #017EBE; color: white; border-radius: 8px;"><i class="fa fa-plus mr-2" ></i>Add Module</button>
                </div>
            </form>
        </div>

    </section>

</div>

  </div>
  <!-- ./wrapper -->
  <!-- success modal -->
  <% if (failed != ''){ %>
    <div class="modal fade py-3" id="successModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="fa-solid fa-circle-xmark mr-2 text-danger"></i>
                    <%= failed %>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
        </div>
    </div>
    <% } else if (proceed != ''){ %>
        <div class="modal fade py-3" id="successModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <i class="fa-solid fa-circle-check mr-2 text-danger"></i>
                        <%= proceed %>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        
        <!-- end success modal -->

  </body>
  <script type="text/javascript">
    $(document).ready(function () {
        // is open by default
        $('#successModal').modal('show');

    });
</script>

  </html>