<!-- include header -->
<%- include ('include/sidebar') %>
  <!-- /include header -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-color py-5 px-2">

    <section class="content">
      <div class="py-5 container" style="background-color:#fff; border-radius:10px;">

        <div class="row d-flex justify-content-between">
          <div class="col-lg-9 my-2">
            <div class="d-flex">
              <div class="col-lg-2">
                <img src="images/Ellipse-2.png" class="rounded-circle img-fluid">
              </div>
              <div class="col-lg-2 mr-5">
                <h6 class="small text-muted">Name</h6>
                <h6 class="mb-4 small font-weight-bold"><%= users.name %></h6>
                <h6 class="small text-muted">Country</h6>
                <h6 class="mb-3 small font-weight-bold"><%= users.location %></h6>
              </div>
              <div class="col-lg-2 mr-5">
                <h6 class="small text-muted">Credit</h6>
                <h6 class="mb-4 small font-weight-bold"><%= creditSum %> Hours</h6>
                <h6 class="small text-muted">Email</h6>
                <h6 class="mb-3 small font-weight-bold"><%= users.email %></h6>
              </div>
              <div class="col-lg-2 ml-5">
                <h6 class="small text-muted">Courses Enrolled</h6>
                <h6 class="mb-4 small font-weight-bold"><%= users.enrolled_courses.length %></h6>
                <h6 class="small text-muted">Paid Amount</h6>
                <h6 class="mb-3 small font-weight-bold">$<%= paidSum %></h6>
              </div>

            </div>
          </div>

          <div class="col-lg-2 my-2">
            <div class="text-right mb-5">
              <% if(users.status != 'suspend') { %>
                <a class="btn btn-sm" style="color: white; border-radius: 22px; background-color: #3CB179;"
                name="active">Active</a>
                <% } else{ %>
                  <a class="btn btn-sm" style="color: white; border-radius: 22px; background-color: #FF3F3F;"
                  name="active">Suspended</a>
                  <% } %>
              
            </div>
            <div class="text-right">
              <% if(users.status != 'suspend') { %>
                <a class="nav-link small text-red" data-toggle="modal" data-target="#suspenduser" id="suspend-id" data-id="<%= users._id %>" href="">Suspend</a>
                <% } else{ %>
                  <a class="nav-link small text-red" data-toggle="modal" data-target="#activeuser" id="active-id" data-id="<%= users._id %>" href="">Active</a>
                  <% } %>
            </div>
          </div>

        </div>

      </div>

      <div class="my-4 container align-items-center">
        <div class="row d-flex justify-content-between align-items-center">
            <h6 class="font-weight-bold">Courses Enrolled</h6>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <% users.enrolled_courses.forEach(function(user) { %>
            <div class="col-lg-6">
                <div class="col-lg-12 p-3 mb-3" style="background-color:#fff; border-radius:10px;">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <img style="width:120px; height:120px; border-radius: 8px;" src="images/Rectangle-11.png">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="row font-weight-bold mb-2"><%= user.course_title %></div>
                            <div class="row mb-2"><h6 class="small text-muted ">X3 Tech</h6></div>
                            <div class="row progress mb-1" style="height: 5px;">
                                <div class="progress-bar" role="progressbar" style="width: 1%; background-color: #3CB179;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="row small mb-3" style="color: #3CB179">0% completed</span>
                            <div class="row justify-content-between">
                            <p class="card-text"><small><%= moment(user.course_createdAt).format('MMM DD YYYY') %></small></p>
                            <p class="card-text"><small><%= user.course_credit %> credits</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%  }) %>
        </div>
      </div>

    </section>


  </div>

  </div>
  <!-- ./wrapper -->
  <!-- success modal -->
  <% if (message != ''){ %>
    <div class="modal fade py-3" id="successModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="fa-solid fa-circle-check mr-2 text-success"></i>
                    <%= message %>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
        <!-- end success modal -->
  </body>
  
  <!-- suspend user -->
  <div class="modal fade" id="suspenduser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content rounded text-center p-3">
      <div class="col-lg-12 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        <img src="images/suspend.png" alt="blockuser" class="img-fluid mt-5" />
      </div>
        <div class="text-center d-flex flex-row mt-5">
            <h5 class="modal-title w-100" id="exampleModalLongTitle">Are you sure you want to Suspend this User?</h5>
        </div>
        <div class="col-lg-12 d-flex justify-content-center mt-5 mb-5">
            <button type="button" class="btn btn-block w-50 m-1 close" data-dismiss="modal" aria-label="Close" style="border-radius: 15px; color:white; background: #017EBE;">No</button>
            <a href="" type="button" id="suspend" class="btn btn-block w-50 m-1" style="border-radius: 15px; color:white; background: #FF3F3F;">Yes, Suspend</a>
        </div>
    </div>
    </div>
  </div>

  <!-- active user -->
  <div class="modal fade" id="activeuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content rounded text-center p-3">
      <div class="col-lg-12 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        <img src="images/suspend.png" alt="blockuser" class="img-fluid mt-5" />
      </div>
        <div class="text-center d-flex flex-row mt-5">
            <h5 class="modal-title w-100" id="exampleModalLongTitle">Are you sure you want to Active this User?</h5>
        </div>
        <div class="col-lg-12 d-flex justify-content-center mt-5 mb-5">
            <button type="button" class="btn btn-block w-50 m-1 close" data-dismiss="modal" aria-label="Close" style="border-radius: 15px; color:white; background: #017EBE;">No</button>
            <a href="" type="button" id="active" class="btn btn-block w-50 m-1" style="border-radius: 15px; color:white; background: #3CB179;">Yes, Active</a>
        </div>
    </div>
    </div>
  </div>

  <!-- update -->
  <div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class=" mt-2 ml-2">
          <h5 class="modal-title w-100" id="exampleModalLongTitle">Edit Profile</h5>
        </div>
        <div class="modal-body">
          <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active pull-right mr-2"><a href="#tab1" data-toggle="tab">Setting</a></li>
              <li class="pull-right ml-2"><a href="#tab2" data-toggle="tab">Contact Us</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <br>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Notification</label>
                    <label class="switch d-flex " for="checkbox">
                      <input type="checkbox" checked id="checkbox" />
                      <div class="slider round"></div>
                    </label> 
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Notification</label>
                    <label class="switch d-flex " for="checkbox">
                      <input type="checkbox" checked id="checkbox" />
                      <div class="slider round"></div>
                    </label> 
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Notification</label>
                    <label class="switch d-flex " for="checkbox">
                      <input type="checkbox" checked id="checkbox" />
                      <div class="slider round"></div>
                    </label> 
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Notification</label>
                    <label class="switch d-flex " for="checkbox">
                      <input type="checkbox" checked id="checkbox" />
                      <div class="slider round"></div>
                    </label> 
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Notification</label>
                    <label class="switch d-flex " for="checkbox">
                      <input type="checkbox" checked id="checkbox" />
                      <div class="slider round"></div>
                    </label> 
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                <br>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Phone Number</label>
                  <label class="form-check-label">+92 312 999999</label>
                    
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Email</label>
                  <label class="form-check-label">abcd@gmail.com</label>
                    
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <label class="form-check-label">Address</label>
                  <label class="form-check-label">Example Address</label>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {

        // is open by default
        $('#successModal').modal('show');

      $("#changeButton").click(function() {
        $("#updateModal").modal();
      });
      $('.editable ul').on('click', 'li', function() {
        if ($(this).hasClass('li_selected')) {
          $(this).removeClass('li_selected');
        } else {
          $(this).addClass('li_selected');
        }
      });

      $('#suspenduser').on('show.bs.modal', function(event){
        console.log('suspend');
        var button = $(event.relatedTarget) // Button that triggered the modal
        var suspendID = button.attr('data-id');
        console.log('suspendID: ', suspendID);
        var modal = $(this)
        modal.find('#suspend').attr('href', `/suspend?userID=${suspendID}`);
      })

      $('#activeuser').on('show.bs.modal', function(event){
        console.log('active');
        var button = $(event.relatedTarget) // Button that triggered the modal
        var activeID = button.attr('data-id');
        console.log('activeID: ', activeID);
        var modal = $(this)
        modal.find('#active').attr('href', `/active?userID=${activeID}`);
      })
      
    });
  </script>

  </html>