<html lang="en">
    <head>
        <title>One 1000</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/user.css">
		<!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- Bootstrap core CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
	
    </head>
    <body>
        <!-- include header -->
        <nav class="navbar sticky-top navbar-expand-lg white">
            <!-- Navbar brand -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link p-0 brand" href="/home">
                        <img src="images/one1000-primary-logo.png" class="z-depth-0" alt="avatar image" height="90">
                    </a>
                </li>
            </ul>
        
            
    
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
                <!-- Links -->
                <ul class="navbar-nav mr-auto ml-lg-5 pl-lg-5">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/userDashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/webinar">Webinar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/onlinetraining">Online Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact">Contact us</a>
                    </li>
                </ul>
                <!-- Links -->
    
                <!-- Collapsible content -->
                
                <!-- <a class="nav-link" href="signin.html">Login</a> -->
                <!-- <a href="signup.html" style="border-radius: 15px; background: #017EBE;" class="btn text-white btn-md ml-3">Get Started</a> -->
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link brand" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/Ellipse-2.png" width="50" height="50" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/user_profile">My Profile</a>
                            <a class="dropdown-item text-danger" href="/logout">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <i class="fas fa-bars"></i>
            </button>
        </nav>
        <!-- register form -->

        <div class="container-fluid px-5 header-webinar">
            <div class="row">
                <i class="fa-solid fa-angle-left fa-lg text-muted px-3"></i>
                <h5 class="font-weight-bold">Course Details</h5>
            </div>
            <div class="row">
                <div class="col-lg-8 col-12">
                    <video class="text-dark w-100 h-80" controls>
                        <source src="uploads/<%= courses.course_video %>" type="video/mp4">
                        <source src="uploads/<%= courses.course_video %>" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                    <div class="p-1 mt-1">
                        <h6 class="font-weight-bold mb-3"><%= courses.course_title %></h6>
                        <p class="small" style="line-height: 1.5rem;"><%= courses.course_description %></p>
    
                    </div>
    
                </div>
                <div class="col-lg-4 col-12">
                    
                    <div class="pb-3 d-flex justify-content-between">
                        <audio controls class="w-100">
                            <source src="uploads/<%= courses.course_audio %>" type="audio/ogg">
                            <source src="uploads/<%= courses.course_audio %>" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <h5 class="py-3 font-weight-bold">Content of the Course</h5>
                    
                    <div id="accordion">
                        <div class="card shadow-none rounded">
                            <div class="card-header" style="height: 4rem!important;" id="headingOne">
                                <div class="mb-0 d-flex justify-content-between">
                                    <span class="mt-2 font-weight-bold">Chapter No 1</span>
                                    <button style="padding: 7px!important;" class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa-solid fa-angle-right fa-lg"></i>
                                    </button>
                                </div>
                            </div>
    
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body" style="background-color: #F8F8F8;">
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-none mt-3">
                            <div class="card-header" style="height: 4rem!important;" id="headingTwo">
                                <div class="mb-0 d-flex justify-content-between">
                                    <span class="mt-2 font-weight-bold">Chapter No 2</span>
                                    <button style="padding: 7px!important;" class="btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <i class="fa-solid fa-angle-right fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body" style="background-color: #F8F8F8;">
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-none mt-3">
                            <div class="card-header" style="height: 4rem!important;" id="headingThree">
                                <div class="mb-0 d-flex justify-content-between">
                                    <span class="mt-2 font-weight-bold">Chapter No 3</span>
                                    <button style="padding: 7px!important;" class="btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="fa-solid fa-angle-right fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body" style="background-color: #F8F8F8;">
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                    <div class="mb-1 d-flex text-muted justify-content-between">
                                        <span class="mt-1">Lorem Ipsum</span>
                                        <i class="fa-solid fa-play mr-3" style="padding: 7px!important;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                </div>
            </div>
        </div>

         <!-- Footer Elements -->
         <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a class="nav-link p-0" href="/home">
                        <img src="images/one1000-primary-logo.png" class="z-depth-0" alt="avatar image" height="140">
                    </a>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a class="text-white-50 small" href="/home">Home</a></li>
                        <li><a class="text-white-50 small" href="/about">About</a></li>
                        <li><a class="text-white-50 small" href="/signup">Get started</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-white mb-3">Join me on social media</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a class="text-white-50 small" target="_blank" href="https://www.facebook.com/WESTrainingandConsulting"><i class="fa-brands fa-facebook-f mr-2"></i>WESTrainingandConsulting</a></li>
                        <li><a class="text-white-50 small" target="_blank" href="https://www.instagram.com/WEStc/"><i class="fa-brands fa-instagram mr-2"></i>WEStc</a></li>
                        <li><a class="text-white-50 small" target="_blank" href="https://www.linkedin.com/in/WES/?originalSubdomain=ca"><i class="fa-brands fa-linkedin mr-2"></i>WES</a></li>
                        <li><a class="text-white-50 small" target="_blank" href="WES"><i class="fa-brands fa-youtube mr-2"></i>WES Training & Consulting</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                <!-- Copyright -->
                <div class="footer-copyright px-2 py-2">2022, Copyright, all rights reserved</div>
                <!-- Copyright -->
            </div>
    
        
        </div>
        <!-- Footer Elements -->
    </body>
</html>