<html lang="en">
    <head>
        <title>One 1000</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/user.css">
		<!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- Bootstrap core CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
	
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg white">
            <!-- Navbar brand -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link p-0 brand" href="/home">
                        <img src="images/one1000-primary-logo.png" class="z-depth-0" alt="avatar image" height="90">
                    </a>
                </li>
            </ul>
        
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <i class="fas fa-bars"></i>
            </button>
        
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
                <!-- Links -->
                <ul class="navbar-nav mr-auto ml-lg-5 pl-lg-5">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/webinar">Webinar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/onlinetraining">Online Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact">Contact us</a>
                    </li>
                </ul>
                <!-- Links -->
        
                <!-- Collapsible content -->
                <% if (!sess_email){ %>
                <a class="nav-link" href="/login">Login</a>
                <a href="/signup" style="border-radius: 15px; background: #017EBE;" class="btn text-white btn-md ml-3">Get Started</a>
                <% }  else { %>
                    <a href="/logout" style="border-radius: 15px; background: #017EBE;" class="btn text-white btn-md ml-3">Logout</a>
                <% } %>
            </div>
        </nav>

        <!-- home page -->

        <!-- header -->

        <div class="container-fluid header-webinar">
            <div class="row">
                <div class="col-lg-5 ml-lg-5 col-12 custom-col">
                    <h2 class="font-weight-bold">Take your communication to </h2>
                        <h2 class="font-weight-bold" style="position: absolute; z-index: 2;">the next level.</h2>
                        <img class="img-fluid ml-n5" style="width:50%!important; z-index: 1; position:relative; top:20; right:12;" src="images/Rectangle-10.png" alt="header-image" />
                    <div class="row">
                        <h6 class="h6-header mt-5">WES is a worldwide provider of online training courses. We provide a wide range of Social Services, Business, Government and Life Skills courses.</h6>
                    </div>
                    
                </div>
                <div class="col-lg-6 col-12 text-center webinar-header-img">
                    <img class="img-fluid webinar-img-1" src="images/Rectangle-17.png" alt="header-image" />
                    <img class="img-fluid webinar-img-2" src="images/Rectangle-17a.png" alt="header-image" />
                </div>
            </div>
        </div>

        <!-- live now -->

        <div class="container mt-5 mb-5">
            <div>
                <h5 class="font-weight-bold"><strong>Live Now</strong></h5>
            </div>
            <div class="row">
                <% webinars[0].live.forEach(function(webinar) { %>
                <div class="col-lg-4 card-body">
                    <img class="img-fluid card-img-top offerings-img" src="images/Rectangle-5.png" alt="offerings-image" />
                    <div class="p-1 mt-1" style="line-height: 10px;">
                        <h6 class="font-weight-bold mb-3"><%= webinar.title %></h6>
                        <p class="small"><%= webinar.date %> | <%= webinar.time %></p>
                        <button data-toggle="modal" data-target="#exampleModalLong" class="btn btn-outline-primary btn-block w-50" style="color:#017EBE; border-radius: 8px;">Join</button>
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <% if (!sess_email){ %>
                        <div class="modal-content text-center p-3">
                            <div class="text-center d-flex flex-row">
                                <h5 class="modal-title w-100" id="exampleModalLongTitle">Login to your account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mb-4">
                                Please login to access the webinar link
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center">
                                <a href="/login" type="button" class="btn btn-block w-50" style="border-radius: 15px; color:white; background: #017EBE;">Login</a>
                            </div>
                        </div>
                        <% }  else { %>
                        <div class="modal-content text-center p-3">
                            <div class="text-center d-flex flex-row">
                                <h5 class="modal-title w-100 font-weight-bold" id="viewNowWebinarTitle"><%= webinar.title %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mb-4 text-blue">
                                <a href="<%= webinar.link %>" target="_blank"><%= webinar.link.substring(0,30) %>...</a>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center">
                                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-block w-50" style="border-radius: 15px; color:white; background: #017EBE;">Go Back</button>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

        <!-- upcoming webinars -->
        <div class="container mt-5 mb-5">
            <div>
                <h5 class="font-weight-bold"><strong>Upcoming Webinars</strong></h5>
            </div>
            <div class="row">
                <% webinars[2].upcoming.forEach(function(webinar) { %>
                <div class="col-lg-4 card-body">
                    <img class="img-fluid card-img-top offerings-img" src="images/Rectangle-5.png" alt="offerings-image" />
                    <div class="p-1 mt-1" style="line-height: 10px;">
                        <h6 class="font-weight-bold mb-3"><%= webinar.title %></h6>
                        <p class="small">2<%= webinar.date %> | <%= webinar.time %></p>
                    </div>
                </div>
                <% }) %>
            </div>

        </div>

        <!-- pre recorded webinars -->
        <div class="container mt-5 mb-5">
            <div>
                <h5 class="font-weight-bold"><strong>Pre Recorded Webinars</strong></h5>
            </div>
            <div class="row">
                <% webinars[1].recorded.forEach(function(webinar) { %>
                <div class="col-lg-4 card-body">
                    <img class="img-fluid card-img-top offerings-img" src="images/Rectangle-5.png" alt="offerings-image" />
                    <div class="p-1 mt-1" style="line-height: 10px;">
                        <h6 class="font-weight-bold mb-3"><%= webinar.title %></h6>
                        <p class="small text-blue">X3 Tech</p>
                        <p class="small"><%= webinar.date %> | <%= webinar.time %></p>
                        <button data-toggle="modal" data-target="#viewNowWebinar" class="btn btn-outline-primary btn-block w-50" style="color:#017EBE; border-radius: 8px;">View Now</button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="viewNowWebinar" tabindex="-1" role="dialog" aria-labelledby="viewNowWebinarTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content text-center p-3">
                        <div class="text-center d-flex flex-row">
                            <h5 class="modal-title w-100 font-weight-bold" id="viewNowWebinarTitle"><%= webinar.title %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mb-4 text-blue">
                            <a href="<%= webinar.link %>" target="_blank"><%= webinar.link.substring(0,30) %>...</a>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-block w-50" style="border-radius: 15px; color:white; background: #017EBE;">Go Back</button>
                        </div>
                    </div>
                    </div>
                </div>
                <% }) %>
            </div>
            
        </div>



         <!-- Footer -->
         <footer id ="footer" class="font-small text-white pt-4">

             <!-- Footer Elements -->
             <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="nav-link p-0" href="/home">
                            <img src="images/one1000-primary-logo.png" class="z-depth-0" alt="avatar image" height="140">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="text-white mb-3">Quick links</h5>
                        <ul class="list-unstyled text-muted">
                            <li><a class="text-white-50 small" href="/home">Home</a></li>
                            <li><a class="text-white-50 small" href="/about">About</a></li>
                            <li><a class="text-white-50 small" href="/signup">Get started</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="text-white mb-3">Join me on social media</h5>
                        <ul class="list-unstyled text-muted">
                            <li><a class="text-white-50 small" target="_blank" href="https://www.facebook.com/WESTrainingandConsulting"><i class="fa-brands fa-facebook-f mr-2"></i>WESTrainingandConsulting</a></li>
                            <li><a class="text-white-50 small" target="_blank" href="https://www.instagram.com/WEStc/"><i class="fa-brands fa-instagram mr-2"></i>WEStc</a></li>
                            <li><a class="text-white-50 small" target="_blank" href="https://www.linkedin.com/in/WES/?originalSubdomain=ca"><i class="fa-brands fa-linkedin mr-2"></i>WES</a></li>
                            <li><a class="text-white-50 small" target="_blank" href="WES"><i class="fa-brands fa-youtube mr-2"></i>WES Training & Consulting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <!-- Copyright -->
                    <div class="footer-copyright px-2 py-2">2022, Copyright, all rights reserved</div>
                    <!-- Copyright -->
                </div>
        
            
            </div>
            <!-- Footer Elements -->
        
            
        </footer>
        <!-- Footer -->
        <script type="text/javascript">
            $(document).ready(function () {
                $('.navbar ul a').click(function(event){
                    //remove all pre-existing active classes
                    $('.active').removeClass('active');
            
                    //add the active class to the link we clicked
                    $(this).addClass('active');
                });
            });
        </script>
    </body>
    
</html>